.cezembre-admin-forms-article {

  > .article {
    margin-left: 25px;

    > .title {
      font-size: 2em;
    }

  }

  > .paragraphs {
    margin-top: 20px;
  }

  > .new-paragraph {
    margin-top: 20px;
  }

}
