.cezembre-admin-forms-auth {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  @include screen-tablet-S() {
    flex-direction: column;
  }

    > .methods {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 30%;
      height: 100%;
      background: white;

      @include screen-laptop-L() {
        width: 40%;
      }

      @include screen-laptop() {
        width: 50%;
      }

      @include screen-tablet() {
        width: 60%;
      }

      @include screen-tablet-S() {
        width: 100%;
        height: 60%;
      }

      > h1 {
        @include JetBrainsMono(1.1em);
      }

      > p {
        @include JetBrainsMono(.9em, rgba(black, .4));
        margin-top: 8px;
      }

      > .credentials {
        margin-top: 50px;
        width: 250px;
      }

  }

  > .illustration {
    width: 70%;
    background: $color-lead-light;

    @include screen-laptop-L() {
      width: 60%;
    }

    @include screen-laptop() {
      width: 50%;
    }

    @include screen-tablet() {
      width: 40%;
    }

    @include screen-tablet-S() {
      width: 100%;
      height: 40%;
    }

  }

}
